<%- include('partials/header.ejs') %>
<center><h2>
		<a href="/">Home</a><br>
	<a href="/earth"><u>->Earth<-</u></a><br>
	    <a href="/venus">Venus</a><br>
	    <a href="/mercury">Mercury</a></h2> <br>
	    <br>
	    <h1> Welcome to Earth </h1>
	    
	    <img src="/img/earth.jpeg" alt="Earth" width="300px">
	    
	    <br>
	    
	    <p>Earth, our home, is the third planet from the sun. It's the only planet known to have an atmosphere containing free oxygen, oceans of water on its surface and, of course, life. Earth is the fifth largest of the planets in the solar system</p>
	   
	<%- include('partials/footer.ejs') %>
