<%- include('partials/header.ejs') %>
<center><h2>
		<a href="/">Home</a><br>
	    <a href="/mercury">Mercury</a><br>
	<a href="/venus"><u>->Venus<-</u></a><br>
	    <a href="/earth">Earth</a> <br>
	<a href="/uranus">Uranus</a><br></h2>
	    <br>
	    <h1> Welcome to Venus </h1>
	    
	    <img src="/img/mercury.jpg" alt="The Solar System" width="300px">
	    
	    <br>
	    
	    <p>Venus is the second planet from the Sun and is the second largest terrestrial planet. Venus is sometimes referred to as the Earth’s sister planet due to their similar size and mass. A day on the surface of Venus (solar day) would appear to take 117 Earth days.</p>
	   
	<%- include('partials/footer.ejs') %>
